@import "../../../node_modules/normalize.css/normalize.css";
@import "vars.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
p {
  margin-top: 0;
}
button,
input,
textarea {
  padding: 0;
  border-radius: 0;
}
svg {
  display: block;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-size: $default-size-font;
  font-family: $default-font-family;
  color: $defalt-color-text;
}

body.lock {
  overflow: hidden;
  touch-action: none;
}

.site {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // Эти параметры прижимают <footer /> всегда вниз
  &-top {
    flex: 1 0 auto;
  }
  &-bottom {
    flex: 0 0 auto;
  }
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
  min-width: 320px;
}

.top-line {
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 55px;
    padding-bottom: 55px;

    @media (max-width: 992px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @media (max-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & > address,
    & .top-line__phone {
      align-self: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      font-style: normal;
      text-decoration: none;
      color: $defalt-color-text;
      font-family: "Roboto", Arial, Helvetica, sans-serif;

      @media (max-width: 992px) {
        font-size: 16px;
        line-height: 19px;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }
    & > address {
      padding-right: 40px;
    }
    .top-line__phone {
      justify-self: end;
      transition: color 0.25s ease;
      padding-left: 40px;

      &:hover {
        color: $accent-color;
      }
    }
  }
  & picture {
    justify-self: center;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $accent-color;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    transform: translateY(-150%);
    transition: transform 0.25s ease;

    &--active {
      transform: translateY(0);
    }

    &__logo {
      max-width: 155px;
      height: auto;
      margin-bottom: 50px;
    }
    & address,
    &__mail,
    &__phone {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      font-style: normal;
      text-decoration: none;
      color: #fff;
      margin-bottom: 20px;
      z-index: 10;
    }
    address {
      margin-bottom: 0;
    }
    .coin-1 {
      position: absolute;
      width: 68px;
      height: 68px;
      left: -27px;
      top: 21px;
      transform: rotate(20deg);
    }
    .coin-2 {
      position: absolute;
      width: 80px;
      height: 80px;
      right: -30px;
      top: 563px;
      transform: rotate(265deg);
    }
    .calc-1 {
      position: absolute;
      width: 80px;
      height: 90px;
      left: -27px;
      top: 481px;
    }
    .calc-2 {
      position: absolute;
      width: 80px;
      height: 90px;
      right: -50px;
      top: 280px;
    }
    .clock {
      position: absolute;
      width: 81px;
      height: 71px;
      left: 117px;
      bottom: -40px;
    }
  }
  .menu-btn {
    display: none;

    @media (max-width: 767px) {
      position: relative;
      display: block;
      width: 40px;
      height: 22px;
      background: none;
      border: none;
      padding: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 40px;
        border-top: 1px solid #000;
        transition: all 0.25s ease;
        transition-property: transform, bottom, top;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }

      &--active {
        z-index: 105;
        &::before {
          transform: rotate(-45deg);
          top: 10px;
        }
        &::after {
          transform: rotate(45deg);
          bottom: 11px;
        }
      }
    }
  }
}

.header {
  &__inner {
    display: flex;
    align-items: flex-end;

    @media (max-width: 992px) {
      align-items: center;
    }

    @media (max-width: 767px) {
      padding-top: 105px;
      position: relative;
    }

    & > .coin {
      display: none;

      @media (max-width: 767px) {
        display: block;
      }
    }
    .cloud {
      display: none;
      position: absolute;
      top: 10px;
      right: -100px;
      z-index: -1;
      width: 355px;

      @media (max-width: 767px) {
        display: block;
      }
    }
  }
  &__info {
    @media (max-width: 767px) {
      max-width: 450px;
      z-index: 10;
    }
  }
  &__image {
    position: relative;
    flex-shrink: 0;
    flex-basis: 51%;
    align-self: flex-start;
    margin-left: 25px;

    @media (max-width: 767px) {
      display: none;
    }

    &-bank {
      width: 100%;
      height: auto;
    }
    .coin-bank {
      position: absolute;

      &-1 {
        position: absolute;
        width: 17%;
        height: auto;
        left: 35%;
        top: 6%;
      }
      &-2 {
        width: 17%;
        height: auto;
        left: 24%;
        top: 19%;
        transform: rotate(100deg);
      }
      &-3 {
        width: 17%;
        height: auto;
        left: 35%;
        top: 32.5%;
        transform: rotate(37deg);
      }
    }
  }
  h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
    color: $defalt-color-text;
    margin-top: 0;
    margin-bottom: 50px;

    @media (max-width: 992px) {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 20px;
    }
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
    color: $submain-color-text;
    &:last-of-type {
      margin-bottom: 100px;
    }
    @media (max-width: 992px) {
      font-size: 16px;
      line-height: 19px;
      padding-right: 30px;
      &:last-of-type {
        margin-bottom: 45px;
      }
    }
  }
  .coin {
    position: absolute;
    &-1 {
      width: 75px;
      height: 75px;
      left: -53px;
      top: 20px;
      transform: rotate(70deg);
    }
    &-2 {
      width: 60px;
      height: 60px;
      right: 90px;
      top: -2%;
      transform: rotate(162deg);
    }
    &-3 {
      width: 92px;
      height: 92px;
      right: -63px;
      top: 21%;
      transform: rotate(70deg);
    }
    &-4 {
      top: 75%;
      left: -53px;
      width: 60px;
      height: 60px;
      transform: rotate(20deg);
    }
    &-5 {
      width: 60px;
      height: 60px;
      right: -15px;
      top: 67%;
    }
  }
}

.button {
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: $accent-color;
  padding: 30px 45px;
  border: 1px solid $accent-color;
  text-decoration: none;
  transition: all 0.25s ease;
  transition-property: background, color;

  &:hover {
    color: #fff;
    background: $accent-color;
  }

  @media (max-width: 992px) {
    font-size: 14px;
    line-height: 16px;
    padding: 15px 25px;
  }
}
