<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__info">
                <h1>Ваша надёжная бухгалтерия</h1>
                <p>Более 20 лет мы предоставляем ответственные бухгалтерские услуги для бизнеса, помогаем оптимизировать расходы и соблюдать законодательство</p>
                <a class="button" data-feedback href="#">проконсультироваться</a>
            </div>
            <div class="header__image">
                <img class="header__image-bank" src="./assets/img/svg/piggy-bank.svg" alt="">
                <img class="coin-bank coin-bank-1" src="./assets/img/svg/coin.svg" alt="">
                <img class="coin-bank coin-bank-2" src="./assets/img/svg/coin.svg" alt="">
                <img class="coin-bank coin-bank-3" src="./assets/img/svg/coin.svg" alt="">
            </div>
            <img class="cloud" src="./assets/img/svg/background_cloud.svg" alt="">
            <img class="coin coin-1" src="./assets/img/svg/coin.svg" alt="">
            <img class="coin coin-2" src="./assets/img/svg/coin.svg" alt="">
            <img class="coin coin-3" src="./assets/img/svg/coin.svg" alt="">
            <img class="coin coin-4" src="./assets/img/svg/coin.svg" alt="">
            <img class="coin coin-5" src="./assets/img/svg/coin.svg" alt="">
        </div>
    </div>
</header>