<div class="top-line">
    <div class="container">
        <div class="top-line__inner">
            <address>Уфа, Революционная 12</address>
            <picture>
                <source media="(max-width: 992px)" srcset="./assets/img/svg/logo_mobile.svg">
                <img class="top-line__logo" src="./assets/img/svg/logo.svg" alt="Логотип 'Универсал'">
            </picture>
            <a class="top-line__phone" href="tel:+7(917)345-72-40">+7 917 345-72-40</a>
            <button class="menu-btn" type="button"></button>
            <div class="menu">
                <img class="menu__logo" src="./assets/img/svg/logo_white.svg" alt="Логотип 'Универсал'">
                <a class="menu__phone" class="top-line__phone" href="tel:+7(917)345-72-40">+7 917 345-72-40</a>
                <a class="menu__mail" href="mailto:pochta@mail.ru">pochta@mail.ru</a>
                <address>Уфа, Революционная 12</address>
                <img class="coin-1" src="./assets/img/svg/coin_blue.svg" alt="">
                <img class="coin-2" src="./assets/img/svg/coin_blue.svg" alt="">
                <img class="calc-1" src="./assets/img/svg/calc_blue.svg" alt="">
                <img class="calc-2" src="./assets/img/svg/calc_blue.svg" alt="">
                <img class="clock" src="./assets/img/svg/clock_blue.svg" alt="">
            </div>
        </div>
    </div>
</div>