{% set title_page = 'Index' %}
<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/head.html' %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&family=Roboto&display=swap" rel="stylesheet">
<head>
    
</head>
<body>
    <div class="site index-page">
        <div class="site-top">
            {% include "components/top-line.html" %}
        </div>
        <div class="site-bottom">
            {% include 'components/Footer/index.html' %}
            {% include 'components/Footer/sprite.html' %}
        </div>
    </div>
    {% include 'components/script.html' %}
</body>
</html>